textarea {
    border: none;
    resize: none;
    outline: none;
    color: #FFF;
    border-radius: 5px;
    width: 100%;
    height: 40vh;
    background-color: orange;
}

.send {
    position:relative;
    top: -34px;
    left: -10px;
    color: #FFF;
    font-size: 20px;
}

.anonimo {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 20px solid #000;
  margin-right: 10px;
}

.botao {
    display: flex;
    border-radius: 20px;
    align-items: center;
}

input {
    width: 25px;
    height: 25px;
}

strong{
    margin-left: 10px;
}

/********************************************************/