<div class="bg-warning py-2 px-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="m-0 text-white"><a (click)="return()" style="cursor: pointer;"><i class="bi bi-caret-left-fill text-white"></i></a>Ouvidoria</h2>
        <!-- <i class="bi bi-list fs-3" style="cursor: pointer;"></i> -->
    </div>
</div>

<div class="d-flex align-items-center vh-100">
    <div class="container p-5">
        <div>
            <p>
            Seja bem-vindo à ouvidoria do Campus Ceará-Mirim, esse é um canal
            de comunicação confidencial entre os alunos e a administração,
            incluindo o Grêmio estudantil. Neste espaço você pode contribuir
            diretamente no melhoramento do ambiente acadêmico.
            
            Garantimos que caso seja da sua vontade, as informações serão
            mantidas confidenciais, sendo levadas apenas para a Diretoria de
            Assistência estudantil e núcleos que dialoguem com o problema
            (caso necessário).
            </p>
        </div>
        <div class="mt-5" style="text-align: right;width: 100%;">
            <textarea placeholder="Digite aqui..." class="p-3"></textarea>
            <a class="send" href="noticias/1"><i class="bi bi-send-fill"></i></a>
        </div>
    
        <div class="botao">
            <input type="checkbox" class="form-check-input border-3 border-warning"><strong>Anônimo</strong>
        </div>
    </div>
</div>
