<div class="bg-warning py-2 px-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="m-0 text-white"> <a routerLink="/profile"><i class="bi bi-caret-left-fill"></i></a> Sobre nós</h2>
        <i class="bi bi-list fs-3" style="cursor: pointer;" (click)="return()"></i>
    </div>
</div>

<div class="container mt-5">
    <div class="d-grid">
        <h1 class="text-warning fw-bold">MOVIMENTO ESTUDANTIL</h1>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Libero adipisci corrupti nihil non eos, ipsum quod nemo quasi dicta labore?
            Perferendis et repellendus doloremque modi ducimus deserunt, vel ab consequuntur.
        </div>
        <h1 class="text-warning fw-bold" style="margin-top: 5vh;">GRÊMIO MADALENA ANTUNES</h1>
        <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam necessitatibus autem deserunt consectetur qui
            laborum
            iusto vel voluptatibus delectus, rerum magni placeat sapiente? Exercitationem distinctio sapiente quasi
            assumenda
            corporis provident?
            Unde repellat iste aliquid provident, quidem voluptatem nulla rerum dolore fugiat quisquam nisi dolorem aut
            veritatis ex quibusdam consequuntur nam repudiandae corrupti! Sunt dignissimos vel alias aut necessitatibus
            repudiandae? Iure.
            Commodi exercitationem sit modi sapiente voluptatum sequi vitae perspiciatis, doloremque cum, ipsum adipisci
            excepturi corporis consequatur tenetur laudantium. Ipsam esse nemo sed ipsa doloremque quibusdam debitis
            facilis
            ex,
            harum voluptatum.
            Consectetur aut veniam dolor mollitia vero quis iste quam dolores? Delectus sed vitae vero? Aliquid, quas
            voluptatibus eos illum alias necessitatibus fugit distinctio quos a itaque cumque eveniet, pariatur atque.
            Aliquid mollitia minus atque, minima animi delectus facere vitae optio cum nostrum eum, numquam neque quia?
            Sequi ad
            cumque, eaque minus, similique ipsam, incidunt libero impedit dolores dolorem optio quae.
        </div>
    </div>

</div>