<div class="bg-warning py-2 px-3">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="m-0 text-white"><a (click)="return()" style="cursor: pointer;"><i class="bi bi-caret-left-fill text-white"></i></a>Feedback</h2>
        <!-- <i class="bi bi-list fs-3" style="cursor: pointer;"></i> -->
    </div>
</div>

<div class="d-flex align-items-center vh-100">
    <div class="container p-5 my-auto">
        <div>
            <p>
                É um fato conhecido de todos que um leitor se distrairá com o
                conteúdo de texto legível de uma página quando estiver examinando
                sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem
                uma distribuição normal de letras, ao contrário de "Conteúdo aqui,
                conteúdo aqui", fazendo com que ele tenha uma aparência similar a
                de um texto legível. Muitos softwares de publicação e editores de
                páginas.
            </p>
        </div>
        <div class="mt-5 text-end">
            <textarea placeholder="Digite aqui..." class="p-3"></textarea>
            <a class="send" href="noticias/1"><i class="bi bi-send-fill"></i></a>
        </div>
    </div>
</div>
